/* Global style */

body {
    font-family: "orbitron", sans-serif;
    background-color: lightgrey;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;

}

/* Heading */

h1 {
    font-size: 400%;
    margin: 20px 0;
}

h2 {
    font-size: 200%;
    margin-top: 1%;
}

/* Game layout */
/* styling taken from love maths */
.game-area {
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin: 0 auto;
    padding: 20px;
}

.control {
    font-size: 800%;
    border-radius: 20px;
    margin: 20px 0;
}

.shoot-button {
    font-size: 400%;
    border-radius: 20px;
    margin: 20px 0;
}

/* Footer */
footer {
    margin-top: auto;
    font-size: 200%;
    padding: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

